@font-face {
  font-family: main-font;
  src: url(/fonts/seguisb.ttf);
}
@font-face {
  font-family: text-font;
  src: url(/fonts/segoeui.ttf);
}
html,
body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  padding: 0;
  resize: none;
}
.img-mobile {
  display: none;
}

.container {
  position: relative;
  color: white;
}

.img-desktop {
  width: 191.5vh;
  margin: 0;
}
#main-br {
  display: initial;
}

#main-text {
  top: 28vh;
  margin-left: 6vh;
  color: white;
  font-size: 6vw;
  position: absolute;
  font-family: main-font;
}
#side-div {
  font-family: main-font;
  color: #e62727;
  font-size: 2vw;
  position: absolute;
  top: 27vh;
  margin-left: 60vw;
}
#side-br {
  display: none;
}
#main-pattern {
  position: relative;
}
#navbar {
  margin-left: 4vw;
  margin-top: 7vh;
}

#conf-button {
  border-radius: 5px;
  background-color: #e62727;
  color: white;
  border: none;
  outline: none;
  width: 85%;
  font-size: 4.5vh;
  font-family: main-font;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  margin-top: 12vh;
  /* margin-left: -.3vw; */
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: -0.4vw;
}
#main-form {
  display: block;
  margin: auto;
}

#browser {
  color: #e62727;
  font-family: main-font;
  font-size: 1.5vw;
  margin-left: -2vw;
  border-color: #e62727;
  outline: none;
  border-width: 5px;
  border-radius: 2px;
  background-color: -internal-light-dark(white, #e62727);
  margin-top: 4vw;
  padding: 0.2vh;
  display: flex;
  justify-content: center;
}
.main-options {
  color: #e62727;
}
#side-title {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#footer-img {
  margin-top: 15.6vw;
  display: none;
  justify-content: center;
  width: 180vw;
  /* margin: 0; */
  margin-left: -58vw;
}
#logo-div {
  display: flex;
  align-items: flex-end;
  margin-left: 23vh;
  top: 109vh;
  position: absolute;
}
#logo {
  width: 12vh;
}
#footer-text-div {
  margin-right: 4vh;
  display: flex;
  justify-content: flex-end;
}
#footer-text {
  top: 112.5vh;
  position: absolute;
  font-family: text-font;
  color: white;
  font-size: 2vw;
}
#contact-button {
  border-radius: 5px;
  background-color: white;
  color: #e62727;
  border: none;
  outline: none;
  width: 100%;
  font-size: 4.5vh;
  font-family: main-font;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  /* margin-top: 12vh; */
  /* margin-left: -.3vw; */
  white-space: nowrap;
  overflow: hidden;
}
#contact-button-div {
  top: 111.2vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  left: 66vh;
}
#footer-sub-img {
  display: none;
}
#footer-mobile-img {
  display: none;
}
#logo-white {
  display: none;
}

@media only screen and (max-width: 500px) {
  .img-desktop {
    display: none;
  }

  body {
    background-image: url("/images/back-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 500vw;

    min-height: 170vh;
    display: flex;
    flex-direction: column;
  }
  #main-text {
    font-size: 13vw;
    top: -96vw;
  }
  #side-div {
    position: static;
    display: block;
    margin: auto;
    font-family: main-font;
    color: #e62727;
    text-align: center;
  }
  #main-pattern {
    position: relative;
  }

  #conf-button {
    margin-top: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e62727;
    color: white;
    border: none;
    outline: none;
    font-size: 7vw;
    font-family: main-font;
    white-space: nowrap;
    overflow: hidden;
  }

  #browser {
    color: #e62727;
    font-family: main-font;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    padding-left: vh;
    border-color: #e62727;
    outline: none;
    border-width: 5px;
    border-radius: 2px;
    background-color: -internal-light-dark(white, #e62727);
    margin-top: 4vw;
    padding: 0.2vh;
  }
  .main-options {
    color: #e62727;
  }
  #side-br {
    display: initial;
  }
  #side-title {
    margin-left: 31vw;
    text-align: right;
    font-size: 11vw;
    margin-top: 110vw;
    white-space: nowrap;
    overflow: hidden;
  }
  #footer-sub-img {
    display: none;
  }
  #footer-mobile-img {
    display: initial;
    position: absolute;
    width: 100vw;
    height: 200px;
    object-fit: none;
    margin-top: unset;
    top: unset;
  }
  #logo-div {
    margin-left: 43vw;
    top: 159vh;
    margin-top: unset;
    position: absolute;
  }
  #logo {
    display: none;
  }
  #logo-white {
    margin-top: unset;
    width: 15vw;
    display: block;
    margin: auto;
    /* display: flex;
    justify-content: center; */
  }
  #footer-text-div {
    display: initial;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-right: unset;
    margin-top: unset;
    top: unset;
    /* top: -100vh; */
  }
  #footer-text {
    top: 178vh;
    position: absolute;
    font-family: text-font;
    color: white;
    font-size: 4vw;
    margin-top: unset;
  }
  #contact-button {
    border-radius: 5px;
    background-color: white;
    color: #e62727;
    border: none;
    outline: none;
    width: 100%;
    font-size: 5.5vw;
    font-family: main-font;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: 61.5vh;
    /* margin-left: -.3vw; */
    white-space: nowrap;
    overflow: hidden;
    /* display: flex; */
    top: unset;
  }
  #contact-button-div {
    top: 108vh;
    position: absolute;
    margin-left: 35vw;
    left: unset;
    display: flex;
    justify-content: center;
    margin-top: unset;
  }
  /* #wrapper {
    min-height: calc(100vh - 373.7px - 304px);
  } */
  #footer {
    margin-top: auto;
  }
  #wrapper {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 501px) {
  .img-desktop {
    display: none;
  }

  body {
    background-image: url("/images/back-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #main-text {
    font-size: 5vw;
    top: -29vw;
  }
  #side-div {
    position: static;
    display: block;
    margin: auto;
    font-family: main-font;
    color: #e62727;
    text-align: center;
  }
  #main-pattern {
    position: relative;
  }

  #conf-button {
    margin-top: 10vw;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e62727;
    color: white;
    border: none;
    outline: none;
    font-size: 3vw;
    font-family: main-font;
    white-space: nowrap;
    overflow: hidden;
  }

  #browser {
    color: #e62727;
    font-family: main-font;
    text-align: center;
    font-size: 3vw;
    margin: auto;
    padding-left: vh;
    border-color: #e62727;
    outline: none;
    border-width: 5px;
    border-radius: 2px;
    background-color: -internal-light-dark(white, #e62727);
    margin-top: 4vw;
    padding: 0.2vh;
  }
  .main-options {
    color: #e62727;
  }
  #main-br {
    display: none;
  }
  #side-br {
    display: none;
  }
  #side-title {
    font-size: 6.5vw;
    margin-top: 34vw;
    white-space: nowrap;
    overflow: hidden;
  }
  #footer-sub-img {
    display: flex;
    position: absolute;
    align-items: flex-end;
    top: 137vw;
    width: 210vw;
  }
  #logo-div {
    display: flex;
    align-items: flex-end;
    margin-left: 11vw;
    top: 143vw;
    position: absolute;
  }
  #logo {
    display: none;
  }
  #logo-white {
    display: initial;
    width: 6.5vw;
  }
  #footer-text-div {
    display: flex;
    justify-content: center;
  }
  #footer-text {
    top: 144.5vw;
    position: absolute;
    font-family: text-font;
    color: white;
    font-size: 2.5vw;
  }
  #contact-button {
    border-radius: 5px;
    background-color: white;
    color: #e62727;
    border: none;
    outline: none;
    width: 100%;
    font-size: 4vw;
    font-family: main-font;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    /* margin-top: 12vh; */
    /* margin-left: -.3vw; */
    white-space: nowrap;
    overflow: hidden;
  }
  #contact-button-div {
    top: 142.5vw;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 75vw;
  }
  #footer-mobile-img {
    display: none;
  }
  #footer {
    margin-top: auto;
  }
  #footer-sub-img {
    display: initial;
    position: absolute;
    width: 100vw;
    height: 14vw;
    object-fit: none;
  }
}
@media only screen and (max-height: 559px),
  only screen and (min-height: 768px) and (min-width: 501px) and (max-width: 1100px) {
  .img-desktop {
    display: none;
  }

  body {
    background-image: url("/images/back-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw;
  }
  #main-text {
    font-size: 4vw;
    margin-top: unset;
    top: -29vw;
  }
  #side-div {
    margin-top: 20vw;
    position: static;
    display: block;
    margin-left: auto;
    margin-right: 1vw;
    font-family: main-font;
    color: #e62727;
    text-align: center;
  }
  #main-pattern {
    position: relative;
  }

  #conf-button {
    margin-top: 7vw;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e62727;
    color: white;
    border: none;
    outline: none;
    font-size: 2.7vw;
    font-family: main-font;
    white-space: nowrap;
    overflow: hidden;
  }

  #browser {
    color: #e62727;
    font-family: main-font;
    text-align: center;
    font-size: 2vw;
    margin: auto;
    border-color: #e62727;
    outline: none;
    border-width: 5px;
    border-radius: 2px;
    background-color: -internal-light-dark(white, #e62727);
    margin-top: 4vw;
    padding: 0.2vh;
  }
  .main-options {
    color: #e62727;
  }
  #main-br {
    display: none;
  }
  #side-br {
    display: none;
  }
  #side-title {
    margin-right: 20vw;
    display: block;
    margin-right: auto;
    margin-left: 4vw;
    font-size: 4vw;
    overflow: hidden;
  }
  #footer-sub-img {
    display: flex;
    position: absolute;
    align-items: flex-end;
    top: 137vw;
    width: 210vw;
  }
  #logo-div {
    display: flex;
    align-items: flex-end;
    margin-left: 11vw;
    top: 143vw;
    position: absolute;
  }
  #logo {
    display: none;
  }
  #logo-white {
    display: initial;
    width: 6.5vw;
  }
  #footer-text-div {
    display: flex;
    justify-content: center;
  }
  #footer-text {
    top: 144.5vw;
    position: absolute;
    font-family: text-font;
    color: white;
    font-size: 2.5vw;
  }
  #contact-button {
    border-radius: 5px;
    background-color: white;
    color: #e62727;
    border: none;
    outline: none;
    width: 100%;
    font-size: 4vw;
    font-family: main-font;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    /* margin-top: 12vh; */
    /* margin-left: -.3vw; */
    white-space: nowrap;
    overflow: hidden;
  }
  #contact-button-div {
    top: 142.5vw;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 75vw;
  }
  #footer-mobile-img {
    display: none;
  }
  #footer {
    margin-top: auto;
  }
  #footer-sub-img {
    display: initial;
    position: absolute;
    width: 100vw;
    height: 14vw;
    object-fit: none;
  }
}
