@font-face {
  font-family: main-font;
  src: url(/fonts/seguisb.ttf);
}
@font-face {
  font-family: text-font;
  src: url(/fonts/segoeui.ttf);
}
/* // Breakpoints */

html,
body {
  margin: 0;
  padding: 0;
  resize: none;
  background-image: url("/main-calc/images/Web1920–3.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}
input {
  border-top: 6px solid #e62727;
  border-left: 6px solid #e62727;
}
#main-text {
  display: flex;
  justify-content: center;
  margin-top: 3.5vw;
  /* margin-left: 38vw; */
  color: white;
  font-size: 3vw;
  font-family: main-font;
}
#main-pattern {
  padding-top: 1px;
  padding-bottom: 95px;
}
#sub-text {
  display: flex;
  justify-content: center;
  margin-top: 0vw;
  font-size: 4vw;
  font-family: main-font;
  color: #e62727;
  /* display: block;
    margin: auto; */
}

#sub-text-1 {
  margin-left: 8.5vw;
  position: relative;
  font-size: 2.2vw;
  font-family: main-font;
  color: #e62727;
}
#sub-text-2 {
  margin-top: -11.8vw;
  margin-left: 78vw;
  position: absolute;
  font-size: 2.2vw;
  font-family: main-font;
  color: #e62727;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
#form-div {
  margin-top: -4vw;
}
.form-1 {
  color: #e62727;
  font-family: main-font;
  text-align: center;
  font-size: 1.7vw;
  margin: auto;
  padding-left: vh;
  border-color: #e62727;
  outline: none;
  border-width: 5px;
  border-radius: 2px;
  background-color: -internal-light-dark(white, #e62727);
  margin-top: 4vw;
  padding: 0.2vh;
}
#eVolts {
  margin-left: 4vw;
}
#Joules {
  margin-left: 74vw;
  margin-top: -7vw;
}
#reset-button {
  color: white;
  background-color: #e62727;
  font-family: main-font;
  text-align: center;
  font-size: 2.5vw;
  display: block;
  margin: auto;
  padding-left: vh;
  /* border-color :#E62727 ; */
  margin-top: -3.7vw;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  width: 15%;
  padding-bottom: 0.5vw;
  outline: none;
  border-radius: 5px;
}
#reset-button:hover {
  background-color: #bb2121;
  transition: 0.2s;
}
#submit-button {
  color: white;
  background-color: #e62727;
  font-family: main-font;
  text-align: center;
  font-size: 2.5vw;
  display: block;
  margin: auto;
  padding-left: vh;
  /* border-color :#E62727 ; */
  margin-top: 6vw;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  width: 30%;
  padding-bottom: 0.5vw;
  outline: none;
  border-radius: 5px;
}
#submit-button:hover {
  background-color: #bb2121;
  transition: 0.2s;
}
#back-button {
  width: 4%;
  position: absolute;
  opacity: 90%;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
}
#back-button:hover {
  opacity: 50%;
  transition: 0.2s;
}
#button-div {
  margin-left: 5vw;
  margin-top: -6vw;
}
.input-div {
  margin-top: 6vw;
}
#footer-sub-img {
  display: flex;
  position: absolute;
  align-items: flex-end;
  top: 60vw;
}
#logo-div {
  display: flex;
  align-items: flex-end;
  margin-left: 11vw;
  top: 64.5vw;
  position: absolute;
}
#logo {
  display: none;
}
#logo-white {
  display: initial;
  width: 4.5vw;
}
#footer-text-div {
  display: flex;
  justify-content: center;
}
#footer-text {
  top: 65.5vw;
  position: absolute;
  font-family: text-font;
  color: white;
  font-size: 2vw;
}
#contact-button {
  border-radius: 5px;
  background-color: white;
  color: #e62727;
  border: none;
  outline: none;
  width: 100%;
  font-size: 2.7vw;
  font-family: main-font;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  /* margin-top: 12vh; */
  /* margin-left: -.3vw; */
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
#contact-button:hover {
  background-color: #e0e0e0;
  transition: 0.2s;
}
#contact-button-div {
  top: 64.5vw;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  left: 75vw;
}
#footer-mobile-img {
  display: none;
}
#footer {
  margin-top: auto;
}
#footer-sub-img {
  display: initial;
  position: absolute;
  width: 100vw;
  height: 20vh;
  object-fit: none;
}
@media only screen and (max-width: 602px) and (min-height: 489px) {
  html,
  body {
    margin: 0;
    padding: 0;
    resize: none;
    background-image: url("/main-calc/images/back-2.png");
    background-repeat: no-repeat;
    background-size: 500vw;
    min-height: 170vh;
    display: flex;
    flex-direction: column;
  }
  #main-text {
    display: none;
  }
  #main-pattern {
    padding-top: 1px;
    padding-bottom: 95px;
  }
  #sub-text {
    margin-top: -57vw;
    /* margin-left: 33vw; */
    font-size: 15vw;
    font-family: main-font;
    color: white;
    margin-left: 6vw;
    /* display: block;
        margin: auto; */
  }

  #sub-text-1 {
    margin-top: 30vw;
    margin-left: 6vw;
    position: relative;
    font-size: 6vw;
    font-family: main-font;
    color: #e62727;
  }
  #sub-text-2 {
    margin-top: 4vw;
    margin-left: 6vw;
    position: absolute;
    font-size: 6vw;
    font-family: main-font;
    text-align: right;
    color: #e62727;
  }
  #form-div {
    margin-top: -4vw;
  }
  .form-1 {
    color: #e62727;
    font-family: main-font;
    /* text-align: center; */
    font-size: 5vw;
    margin: auto;
    padding-left: vh;
    border-color: #e62727;
    outline: none;
    border-width: 5px;
    border-radius: 2px;
    background-color: -internal-light-dark(white, #e62727);
    margin-top: 4vw;
    padding: 0.2vh;
  }
  #eVolts {
    margin-left: 6vw;
  }
  #Joules {
    margin-left: 6vw;
    margin-top: 20vw;
    margin-bottom: 6vw;
  }
  #reset-button {
    color: white;
    background-color: #e62727;
    font-family: main-font;
    text-align: center;
    font-size: 7vw;
    display: initial;
    margin: auto;
    padding-left: vh;
    /* border-color :#E62727 ; */
    margin-top: 5vw;
    margin-left: 6vw;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
    padding-bottom: 0.5vw;
    outline: none;
    border-radius: 5px;
  }
  #reset-button:hover {
    background-color: #bb2121;
    transition: 0.2s;
  }
  #submit-button {
    color: white;
    background-color: #e62727;
    font-family: main-font;
    /* text-align: center; */
    font-size: 8vw;
    display: initial;
    /* margin:auto; */
    padding-left: vh;
    /* border-color :#E62727 ; */
    margin-top: 6vw;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    margin-left: 6vw;
    padding-bottom: 0.5vw;
    outline: none;
    border-radius: 5px;
  }
  #submit-button:hover {
    background-color: #bb2121;
    transition: 0.2s;
  }
  #back-button {
    width: 10%;
    margin-top: 10vw;
    position: absolute;
    opacity: 90%;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
  }
  #back-button:hover {
    opacity: 50%;
    transition: 0.2s;
  }
  #button-div {
    margin-left: 5vw;
    margin-top: -6vw;
  }
  .input-div {
    margin-top: 50vw;
  }
  #footer-sub-img {
    display: none;
  }
  #footer-mobile-img {
    display: initial;
    position: absolute;
    width: 100vw;
    height: 200px;
    object-fit: none;
    margin-top: unset;
    top: unset;
  }
  #logo-div {
    margin-left: 43vw;
    top: 159vh;
    margin-top: unset;
    position: absolute;
  }
  #logo {
    display: none;
  }
  #logo-white {
    margin-top: unset;
    width: 15vw;
    display: block;
    margin: auto;
    /* display: flex;
    justify-content: center; */
  }
  #footer-text-div {
    display: initial;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-right: unset;
    margin-top: unset;
    top: unset;
    /* top: -100vh; */
  }
  #footer-text {
    top: 178vh;
    position: absolute;
    font-family: text-font;
    color: white;
    font-size: 4vw;
    margin-top: unset;
  }
  #contact-button {
    border-radius: 5px;
    background-color: white;
    color: #e62727;
    border: none;
    outline: none;
    width: 100%;
    font-size: 5.5vw;
    font-family: main-font;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: 61.5vh;
    /* margin-left: -.3vw; */
    white-space: nowrap;
    overflow: hidden;
    /* display: flex; */
    top: unset;
  }
  #contact-button-div {
    top: 108vh;
    position: absolute;
    margin-left: 35vw;
    left: unset;
    display: flex;
    justify-content: center;
    margin-top: unset;
  }
  /* #wrapper {
    min-height: calc(100vh - 373.7px - 304px);
  } */
  #footer {
    margin-top: auto;
  }
  #wrapper {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 603px) {
  html,
  body {
    margin: 0;
    padding: 0;
    resize: none;
    background-image: url("/main-calc/images/back-2.png");
    background-repeat: no-repeat;
    background-size: 150vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #main-text {
    display: none;
  }
  #main-pattern {
    padding-top: 1px;
    padding-bottom: 95px;
  }
  #sub-text {
    top: 6vw;
    margin-top: unset;
    /* margin-left: 33vw; */
    font-size: 7vw;
    font-family: main-font;
    color: white;
    margin-left: 20vw;
    position: absolute;
  }

  #sub-text-1 {
    margin-top: -15vw;
    margin-left: 6vw;
    position: absolute;
    font-size: 3vw;
    font-family: main-font;
    text-align: left;
    color: #e62727;
  }
  #sub-text-2 {
    margin-top: 5vw;
    margin-left: 6vw;
    position: absolute;
    font-size: 3vw;
    font-family: main-font;
    text-align: right;
    color: #e62727;
  }
  #sub-text-div {
    position: absolute;
    margin-top: 13vw;
  }
  #title-sub-1-div {
    margin-top: -30vw;
  }
  #form-div {
    margin-top: 30vw;
  }
  .form-1 {
    color: #e62727;
    font-family: main-font;
    /* text-align: center; */
    font-size: 3vw;
    margin: auto;
    border-color: #e62727;
    outline: none;
    border-width: 5px;
    border-radius: 2px;
    background-color: -internal-light-dark(white, #e62727);
    margin-top: 4vw;
    padding: 0.2vh;
  }
  #eVolts {
    margin-top: -13.5vw;
    margin-left: 55vw;
  }
  #Joules {
    margin-left: 55vw;
    margin-top: 10vw;
    margin-bottom: 6vw;
  }
  #reset-button {
    color: white;
    background-color: #e62727;
    font-family: main-font;
    text-align: center;
    font-size: 5vw;
    display: initial;
    margin: auto;
    padding-left: vh;
    /* border-color :#E62727 ; */
    margin-top: 5vw;
    margin-left: 6vw;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    width: 30%;
    padding-bottom: 0.5vw;
    outline: none;
    border-radius: 5px;
  }
  #reset-button:hover {
    background-color: #bb2121;
    transition: 0.2s;
  }
  #submit-button {
    color: white;
    background-color: #e62727;
    font-family: main-font;
    /* text-align: center; */
    font-size: 6vw;
    display: initial;
    /* margin:auto; */
    padding-left: vh;
    /* border-color :#E62727 ; */
    margin-top: 6vw;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
    margin-left: 6vw;
    padding-bottom: 0.5vw;
    outline: none;
    border-radius: 5px;
  }
  #submit-button:hover {
    background-color: #bb2121;
    transition: 0.2s;
  }
  #back-button {
    width: 6%;
    top: 8.4vw;
    position: absolute;
    opacity: 90%;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
  }
  #back-button:hover {
    opacity: 50%;
    transition: 0.2s;
  }
  #button-div {
    margin-left: 5vw;
    margin-top: -6vw;
  }
  .input-div {
    margin-top: 50vw;
  }
  #footer-sub-img {
    display: flex;
    position: absolute;
    align-items: flex-end;
    top: 137vw;
    width: 210vw;
  }
  #logo-div {
    display: flex;
    align-items: flex-end;
    margin-left: 11vw;
    top: 143vw;
    position: absolute;
  }
  #logo {
    display: none;
  }
  #logo-white {
    display: initial;
    width: 6.5vw;
  }
  #footer-text-div {
    display: flex;
    justify-content: center;
  }
  #footer-text {
    top: 144.5vw;
    position: absolute;
    font-family: text-font;
    color: white;
    font-size: 2.5vw;
  }
  #contact-button {
    border-radius: 5px;
    background-color: white;
    color: #e62727;
    border: none;
    outline: none;
    width: 100%;
    font-size: 4vw;
    font-family: main-font;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    /* margin-top: 12vh; */
    /* margin-left: -.3vw; */
    white-space: nowrap;
    overflow: hidden;
  }
  #contact-button-div {
    top: 142.4vw;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 75vw;
  }
  #footer-mobile-img {
    display: none;
  }
  #footer {
    margin-top: auto;
  }
  #footer-sub-img {
    display: initial;
    position: absolute;
    width: 100vw;
    height: 14vw;
    object-fit: none;
  }
}
@media screen and (max-width: 500px) and (max-height: 490px) {
  html,
  body {
    margin: 0;
    padding: 0;
    resize: none;
    background-image: url("/main-calc/images/back-2.png");
    background-repeat: no-repeat;
    background-size: 500vw;
    min-height: 270vh;
    display: flex;
    flex-direction: column;
  }
  #main-text {
    display: none;
  }
  #main-pattern {
    padding-top: 1px;
    padding-bottom: 95px;
  }
  #sub-text {
    margin-top: -57vw;
    /* margin-left: 33vw; */
    font-size: 15vw;
    font-family: main-font;
    color: white;
    margin-left: 6vw;
    /* display: block;
        margin: auto; */
  }

  #sub-text-1 {
    margin-top: 30vw;
    margin-left: 6vw;
    position: relative;
    font-size: 6vw;
    font-family: main-font;
    color: #e62727;
  }
  #sub-text-2 {
    margin-top: 4vw;
    margin-left: 6vw;
    position: absolute;
    font-size: 6vw;
    font-family: main-font;
    text-align: right;
    color: #e62727;
  }
  #form-div {
    margin-top: -4vw;
  }
  .form-1 {
    color: #e62727;
    font-family: main-font;
    /* text-align: center; */
    font-size: 5vw;
    margin: auto;
    padding-left: vh;
    border-color: #e62727;
    outline: none;
    border-width: 5px;
    border-radius: 2px;
    background-color: -internal-light-dark(white, #e62727);
    margin-top: 4vw;
    padding: 0.2vh;
  }
  #eVolts {
    margin-left: 6vw;
  }
  #Joules {
    margin-left: 6vw;
    margin-top: 20vw;
    margin-bottom: 6vw;
  }
  #reset-button {
    color: white;
    background-color: #e62727;
    font-family: main-font;
    text-align: center;
    font-size: 7vw;
    display: initial;
    margin: auto;
    padding-left: vh;
    /* border-color :#E62727 ; */
    margin-top: 5vw;
    margin-left: 6vw;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
    padding-bottom: 0.5vw;
    outline: none;
    border-radius: 5px;
  }
  #reset-button:hover {
    background-color: #bb2121;
    transition: 0.2s;
  }
  #submit-button {
    color: white;
    background-color: #e62727;
    font-family: main-font;
    /* text-align: center; */
    font-size: 8vw;
    display: initial;
    /* margin:auto; */
    padding-left: vh;
    /* border-color :#E62727 ; */
    margin-top: 6vw;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    margin-left: 6vw;
    padding-bottom: 0.5vw;
    outline: none;
    border-radius: 5px;
  }
  #submit-button:hover {
    background-color: #bb2121;
    transition: 0.2s;
  }
  #back-button {
    width: 10%;
    margin-top: 10vw;
    position: absolute;
    opacity: 90%;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
  }
  #back-button:hover {
    opacity: 50%;
    transition: 0.2s;
  }
  #button-div {
    margin-left: 5vw;
    margin-top: -6vw;
  }
  .input-div {
    margin-top: 50vw;
  }
  #footer-sub-img {
    display: none;
  }
  #footer-mobile-img {
    display: initial;
    position: absolute;
    width: 100vw;
    height: 200px;
    object-fit: none;
    margin-top: unset;
    top: unset;
  }
  #logo-div {
    margin-left: 42vw;
    top: 253vh;
    margin-top: unset;
    position: absolute;
  }
  #logo {
    display: none;
  }
  #logo-white {
    margin-top: unset;
    width: 15vw;
    display: block;
    margin: auto;
    /* display: flex;
    justify-content: center; */
  }
  #footer-text-div {
    display: initial;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-right: unset;
    margin-top: unset;
    top: unset;
    /* top: -100vh; */
  }
  #footer-text {
    top: 284vh;
    position: absolute;
    font-family: text-font;
    color: white;
    font-size: 4vw;
    margin-top: unset;
  }
  #contact-button {
    border-radius: 5px;
    background-color: white;
    color: #e62727;
    border: none;
    outline: none;
    width: 100%;
    font-size: 5.5vw;
    font-family: main-font;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: 61.5vh;
    /* margin-left: -.3vw; */
    white-space: nowrap;
    overflow: hidden;
    /* display: flex; */
    top: unset;
  }
  #contact-button-div {
    top: 210vh;
    position: absolute;
    margin-left: 35vw;
    left: unset;
    display: flex;
    justify-content: center;
    margin-top: unset;
  }
  /* #wrapper {
    min-height: calc(100vh - 373.7px - 304px);
  } */
  #footer {
    margin-top: auto;
  }
  #wrapper {
    overflow: hidden;
  }
}
