@media only screen and (max-width: 1100px) and (min-width: 603px) {
  #sub-text {
    top: 2.5vw;
  }
  #sub-text-1 {
    margin-left: 13.5vw;
  }
  #sub-text-2 {
    margin-left: 13.5vw;
  }
}
@media only screen and (max-width: 602px) {
  #sub-text {
    font-size: 12vw;
  }
}
